body {
    font-family: 'Hubballi', cursive;
}

main {
    margin-bottom: -15px;
}

.jDate {
    display: flex;
    flex-direction: column;
}

.cCovered {
    display: flex;
    flex-direction: column;
}

.jEntry {
    display: flex;
    flex-direction: column;
}

.mDay {
    display: flex;
    flex-direction: column;
}

.navigation {
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: black solid 5px;
}

.footer {
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: black solid 5px;
}